flows.json
[
    {
        "id": "7ecbc1d1b9c5ed19",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0e414af36824f16",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/bmp280/pression",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "91024889c2008379",
                "522ce154be035254"
            ]
        ]
    },
    {
        "id": "4afb0487faa9225e",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/bmp280/hauteur",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "ded1ee1bb88b5ff3",
                "d07efd2e2219b77e",
                "62cb59b89f5e5b10",
                "88d7740ef3cce943"
            ]
        ]
    },
    {
        "id": "fe5a266ff41c5ea6",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 1,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "175da36b334f5980",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 3,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "62cb59b89f5e5b10",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 2,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "Hauteur",
        "label": "mètre",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "dcd9b7e0036313e4",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "510bc36d29faa479",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 420,
        "wires": []
    },
    {
        "id": "d07efd2e2219b77e",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "af50c2eafea07dfc",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 4,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fea39052313886bc",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 6,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "88d7740ef3cce943",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 5,
        "width": 9,
        "height": 3,
        "label": "Hauteur ",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "7df41a50a230c66f",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/bmp280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "37a970ef108dae53"
            ]
        ]
    },
    {
        "id": "5ad36f886c6989df",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 220,
        "wires": [
            [
                "b2e896dbdab1e7d7"
            ]
        ]
    },
    {
        "id": "b2e896dbdab1e7d7",
        "type": "mysql",
        "z": "7ecbc1d1b9c5ed19",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "37a970ef108dae53",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "check value",
        "func": "if(msg.payload <= \"temp_max\"){\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "dcd9b7e0036313e4",
                "fe5a266ff41c5ea6",
                "af50c2eafea07dfc",
                "5ad36f886c6989df"
            ]
        ]
    },
    {
        "id": "91024889c2008379",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "check value",
        "func": "if(msg.payload <= \"pressure_max\"){\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 500,
        "wires": [
            [
                "510bc36d29faa479",
                "175da36b334f5980",
                "fea39052313886bc"
            ]
        ]
    },
    {
        "id": "ad31854b6ea81cea",
        "type": "ui_slider",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3472a843a4b38d4a",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 870,
        "y": 860,
        "wires": [
            [
                "21ed13313a1171d5",
                "2e80d2a06906f72f"
            ]
        ]
    },
    {
        "id": "21ed13313a1171d5",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "set_maxTemp",
        "func": "global.set(\"temp_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2e80d2a06906f72f",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "3472a843a4b38d4a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de température :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1120,
        "y": 880,
        "wires": []
    },
    {
        "id": "e1db08bb052b3a11",
        "type": "ui_slider",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3472a843a4b38d4a",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1000",
        "max": "1200",
        "step": "20",
        "className": "",
        "x": 870,
        "y": 960,
        "wires": [
            [
                "83ba37d367f3b215",
                "1ccabb0c5ae11113"
            ]
        ],
        "inputLabels": [
            "15"
        ]
    },
    {
        "id": "83ba37d367f3b215",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "set_maxPression",
        "func": "global.set(\"pressure_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "1ccabb0c5ae11113",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "3472a843a4b38d4a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de pression :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "de7cef020eaad971",
        "type": "ui_slider",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3472a843a4b38d4a",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1500",
        "step": "10",
        "className": "",
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "736830d251544f23",
                "3ce88ef44fb708c2"
            ]
        ],
        "inputLabels": [
            "16"
        ]
    },
    {
        "id": "736830d251544f23",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "set_maxCO2",
        "func": "global.set(\"co2_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3ce88ef44fb708c2",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "3472a843a4b38d4a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration C02 :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1140,
        "y": 1060,
        "wires": []
    },
    {
        "id": "677c03cf8e4930c0",
        "type": "inject",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1100",
        "payloadType": "num",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "e1db08bb052b3a11"
            ]
        ]
    },
    {
        "id": "82967321eb6b3a79",
        "type": "inject",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 710,
        "y": 860,
        "wires": [
            [
                "ad31854b6ea81cea"
            ]
        ]
    },
    {
        "id": "3642db22f66a14d8",
        "type": "inject",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "de7cef020eaad971"
            ]
        ]
    },
    {
        "id": "38faf1e3dc1c6159",
        "type": "ui_slider",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3472a843a4b38d4a",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1500",
        "step": "10",
        "className": "",
        "x": 870,
        "y": 1140,
        "wires": [
            [
                "9ff44d537fad896e",
                "e05a4d712a3e19e4"
            ]
        ],
        "inputLabels": [
            "20"
        ]
    },
    {
        "id": "9ff44d537fad896e",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "set_maxTVOC",
        "func": "global.set(\"tvoc_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "e05a4d712a3e19e4",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "3472a843a4b38d4a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration TVOC :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "86eff692f888b6b9",
        "type": "inject",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "38faf1e3dc1c6159"
            ]
        ]
    },
    {
        "id": "db855963163506c3",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/css811/luminositePiece",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1660,
        "y": 860,
        "wires": [
            [
                "0fb0d1c20db55f89",
                "188f21432c8cf567",
                "a8302876082c9024"
            ]
        ]
    },
    {
        "id": "188f21432c8cf567",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "f94e6d74c893c144",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Luminosité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1890,
        "y": 860,
        "wires": []
    },
    {
        "id": "0fb0d1c20db55f89",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 820,
        "wires": []
    },
    {
        "id": "a8302876082c9024",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "f94e6d74c893c144",
        "order": 8,
        "width": 6,
        "height": 3,
        "label": "Evolution",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1880,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "2a4cb876df53e88c",
        "type": "mysql",
        "z": "7ecbc1d1b9c5ed19",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1060,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ded1ee1bb88b5ff3",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "de2224f3afc80d6e"
            ]
        ]
    },
    {
        "id": "de2224f3afc80d6e",
        "type": "mysql",
        "z": "7ecbc1d1b9c5ed19",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1080,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "522ce154be035254",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "2a4cb876df53e88c"
            ]
        ]
    },
    {
        "id": "7156e0961940de2d",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/OLED",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 1000,
        "wires": [
            [
                "92d16261d060ec67",
                "e65aac654adbfbbc"
            ]
        ]
    },
    {
        "id": "92d16261d060ec67",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 960,
        "wires": []
    },
    {
        "id": "e65aac654adbfbbc",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "78d4a7d71e04d4fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texte : ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cc3777159b9099d7",
        "type": "ui_button",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "78d4a7d71e04d4fa",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Envoyer sur l'écran",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1850,
        "y": 1100,
        "wires": [
            [
                "9529a31eb013a924"
            ]
        ]
    },
    {
        "id": "5716aaaf44ed3e12",
        "type": "ui_text_input",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "Modifier le texte de l'écran",
        "tooltip": "",
        "group": "78d4a7d71e04d4fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1630,
        "y": 1100,
        "wires": [
            [
                "cc3777159b9099d7"
            ]
        ]
    },
    {
        "id": "9529a31eb013a924",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/OLED",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ee54772a7727978c",
        "type": "ui_switch",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "700972ffdb7b6093",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1770,
        "y": 1240,
        "wires": [
            [
                "43f2c36f793154c0",
                "5673688b46abac8c"
            ]
        ]
    },
    {
        "id": "3c57170512a1a563",
        "type": "ui_switch",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "700972ffdb7b6093",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1770,
        "y": 1340,
        "wires": [
            [
                "39b0152231786704",
                "f9c59f8d71cfa713"
            ]
        ]
    },
    {
        "id": "d2c4ea6ef6dd3128",
        "type": "ui_switch",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "700972ffdb7b6093",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1770,
        "y": 1440,
        "wires": [
            [
                "34aca15077d51dbc",
                "4168652c4ee6fa2d"
            ]
        ]
    },
    {
        "id": "81940f4bb522b1cd",
        "type": "ui_switch",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "700972ffdb7b6093",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1770,
        "y": 1540,
        "wires": [
            [
                "475c680ca25e781c",
                "406fbf9ef9859039"
            ]
        ]
    },
    {
        "id": "1644a4edf1fa11d3",
        "type": "ui_switch",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "700972ffdb7b6093",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1770,
        "y": 1640,
        "wires": [
            [
                "f6d3bc8b973b1a59",
                "cb22fa59166f0ad0"
            ]
        ]
    },
    {
        "id": "475c680ca25e781c",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2030,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f6d3bc8b973b1a59",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2030,
        "y": 1660,
        "wires": []
    },
    {
        "id": "34aca15077d51dbc",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2030,
        "y": 1460,
        "wires": []
    },
    {
        "id": "39b0152231786704",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2030,
        "y": 1360,
        "wires": []
    },
    {
        "id": "43f2c36f793154c0",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2030,
        "y": 1260,
        "wires": []
    },
    {
        "id": "02f8a62fdd98d9d5",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/buttonResetOption",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "237ec09ec97be170",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1440,
        "wires": [
            [
                "2a545e0f6b72b5c4"
            ]
        ]
    },
    {
        "id": "2a545e0f6b72b5c4",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "ResetOptionToON",
        "func": "if (msg.payload == 1){\n    msg.payload = \"ON\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1440,
        "wires": [
            [
                "ee54772a7727978c",
                "3c57170512a1a563",
                "d2c4ea6ef6dd3128",
                "81940f4bb522b1cd",
                "1644a4edf1fa11d3"
            ]
        ]
    },
    {
        "id": "f395ccb35e0ac9bf",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 440,
        "wires": [
            [
                "237abcf8e7c8646c",
                "3e07e3d77b242d3d",
                "bfb3b8e0cba55fa0",
                "74bafc64dfd7f26f"
            ]
        ]
    },
    {
        "id": "ec91c022fc3fd72e",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "c498b3979b336124",
        "order": 1,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1910,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e07e3d77b242d3d",
        "type": "ui_gauge",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "c498b3979b336124",
        "order": 2,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1900,
        "y": 440,
        "wires": []
    },
    {
        "id": "7bc66565729d9739",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 260,
        "wires": []
    },
    {
        "id": "237abcf8e7c8646c",
        "type": "debug",
        "z": "7ecbc1d1b9c5ed19",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 400,
        "wires": []
    },
    {
        "id": "28e796a9876d0260",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "c498b3979b336124",
        "order": 3,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bfb3b8e0cba55fa0",
        "type": "ui_chart",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "c498b3979b336124",
        "order": 4,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1900,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ef2701b417553f35",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 300,
        "wires": [
            [
                "7bc66565729d9739",
                "ec91c022fc3fd72e",
                "28e796a9876d0260",
                "bc2e01ea3f359721"
            ]
        ]
    },
    {
        "id": "bf2351968e9c99a0",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2150,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc2e01ea3f359721",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "check CO2 value",
        "func": "if(msg.payload > \"co2_max\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 200,
        "wires": [
            [
                "19c54d25223a6701"
            ]
        ]
    },
    {
        "id": "74bafc64dfd7f26f",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "check TVOC value",
        "func": "if(msg.payload > \"tvoc_max\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 540,
        "wires": [
            [
                "bf2351968e9c99a0"
            ]
        ]
    },
    {
        "id": "19c54d25223a6701",
        "type": "mqtt out",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 2170,
        "y": 200,
        "wires": []
    },
    {
        "id": "5673688b46abac8c",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "700972ffdb7b6093",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure Température",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2020,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f9c59f8d71cfa713",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "700972ffdb7b6093",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure Pression",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2010,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4168652c4ee6fa2d",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "700972ffdb7b6093",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure altitude",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2000,
        "y": 1420,
        "wires": []
    },
    {
        "id": "406fbf9ef9859039",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "700972ffdb7b6093",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure concentration en TVOC",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2050,
        "y": 1520,
        "wires": []
    },
    {
        "id": "cb22fa59166f0ad0",
        "type": "ui_text",
        "z": "7ecbc1d1b9c5ed19",
        "group": "700972ffdb7b6093",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure concentration en CO2",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2050,
        "y": 1620,
        "wires": []
    },
    {
        "id": "73a029fb681584c5",
        "type": "ui_button",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "group": "3472a843a4b38d4a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reinitialiser les données",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 40,
        "wires": [
            [
                "4218d9c6866ea11d"
            ]
        ]
    },
    {
        "id": "267ceb7f026b199f",
        "type": "mqtt in",
        "z": "7ecbc1d1b9c5ed19",
        "name": "",
        "topic": "esp32/donnees/initialisation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6dd44bbfa04210e9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 100,
        "wires": [
            [
                "7994280c112cb818"
            ]
        ]
    },
    {
        "id": "7994280c112cb818",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "Recuperation données BDD",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "3467780e99f22a50"
            ]
        ]
    },
    {
        "id": "3467780e99f22a50",
        "type": "mysql",
        "z": "7ecbc1d1b9c5ed19",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4218d9c6866ea11d",
        "type": "function",
        "z": "7ecbc1d1b9c5ed19",
        "name": "erase BDD",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "cabfc02fa9cfee20"
            ]
        ]
    },
    {
        "id": "cabfc02fa9cfee20",
        "type": "mysql",
        "z": "7ecbc1d1b9c5ed19",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "449680bef5386fa3",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "3472a843a4b38d4a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc94c457cd948baa",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "3472a843a4b38d4a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "678585166b68d795",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "3472a843a4b38d4a",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1eadf2d7e696e052",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "3472a843a4b38d4a",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "aba6fdaa25d12431",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "6cb5bfca81ea8bd8",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "e40ebeb775c12b10",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "69ea45a3371e62a4",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "78e8c9dac8bfee63",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a52e1c7a8e52822a",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c39448fa70affdc",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "40c99b0a2f449dd6",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "250824ee7b096591",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "f94e6d74c893c144",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "bf4c16f3cbb9cb07",
        "type": "ui_spacer",
        "z": "7ecbc1d1b9c5ed19",
        "name": "spacer",
        "group": "78d4a7d71e04d4fa",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a90e7f38bd90f9a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a54b25374eb90119",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f853144cede7ad81",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "capteurs",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "3472a843a4b38d4a",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "02211714844374ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f94e6d74c893c144",
        "type": "ui_group",
        "name": "Luxmètre",
        "tab": "02211714844374ec",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "78d4a7d71e04d4fa",
        "type": "ui_group",
        "name": "OLED",
        "tab": "02211714844374ec",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "700972ffdb7b6093",
        "type": "ui_group",
        "name": "Mode",
        "tab": "02211714844374ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6dd44bbfa04210e9",
        "type": "mqtt-broker",
        "name": "IF3B",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "237ec09ec97be170",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c498b3979b336124",
        "type": "ui_group",
        "name": "Qualité de l'air",
        "tab": "02211714844374ec",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02211714844374ec",
        "type": "ui_tab",
        "name": "Air",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]