flows (1).json
[
    {
        "id": "139d1321e39413f1",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ecfec5ca9e4a71d",
        "type": "mqtt in",
        "z": "139d1321e39413f1",
        "name": "",
        "topic": "esp32/KlitéAir",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "6324af869cae81c3"
            ]
        ]
    },
    {
        "id": "6324af869cae81c3",
        "type": "ui_led",
        "z": "139d1321e39413f1",
        "order": 8,
        "group": "a54b25374eb90119",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "900e3638ea76d6ee",
        "type": "mqtt in",
        "z": "139d1321e39413f1",
        "name": "",
        "topic": "esp32/bmp280/pression",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "b96280ae73c40b9a",
                "8598517669ee280c",
                "94d7a8a7465c0e45"
            ]
        ]
    },
    {
        "id": "ed95f16e364012de",
        "type": "mqtt in",
        "z": "139d1321e39413f1",
        "name": "",
        "topic": "esp32/bmp280/hauteur",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "77eefbb5ad8a1144",
                "344aebb5646a788e",
                "2647a0f67b853502"
            ]
        ]
    },
    {
        "id": "ac3d257714f8aacf",
        "type": "ui_gauge",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "b96280ae73c40b9a",
        "type": "ui_gauge",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "77eefbb5ad8a1144",
        "type": "ui_gauge",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Hauteur",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 620,
        "wires": []
    },
    {
        "id": "a2d4e1abec6990a9",
        "type": "debug",
        "z": "139d1321e39413f1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "8598517669ee280c",
        "type": "debug",
        "z": "139d1321e39413f1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "344aebb5646a788e",
        "type": "debug",
        "z": "139d1321e39413f1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "18ee6ca380e5694c",
        "type": "ui_chart",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 10,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "94d7a8a7465c0e45",
        "type": "ui_chart",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 12,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2647a0f67b853502",
        "type": "ui_chart",
        "z": "139d1321e39413f1",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 11,
        "width": 9,
        "height": 3,
        "label": "Hauteur ",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "51f230d2ed703116",
        "type": "mqtt in",
        "z": "139d1321e39413f1",
        "name": "",
        "topic": "esp32/bmp280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "90c5dbccee1bf6b1",
        "type": "ui_slider",
        "z": "139d1321e39413f1",
        "name": "",
        "label": "slidertesttemp",
        "tooltip": "",
        "group": "a54b25374eb90119",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "40",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "a2d4e1abec6990a9",
                "ac3d257714f8aacf",
                "18ee6ca380e5694c"
            ]
        ]
    },
    {
        "id": "1170e7f74fe7bd89",
        "type": "function",
        "z": "139d1321e39413f1",
        "name": "function",
        "func": "msg.topic = \"INSERT INTO temp(id,valeur)\" + \"VALUES ('\"+msg.topic\n\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "2b2b9ea6ab5f7d8f"
            ]
        ]
    },
    {
        "id": "2b2b9ea6ab5f7d8f",
        "type": "mysql",
        "z": "139d1321e39413f1",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 620,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "58aa7a41373ba4a3",
        "type": "ui_spacer",
        "z": "139d1321e39413f1",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e2910be81ec6f59",
        "type": "ui_spacer",
        "z": "139d1321e39413f1",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "757baa59e93c6cbc",
        "type": "ui_spacer",
        "z": "139d1321e39413f1",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "5a3bac3bf03959bb",
        "type": "ui_spacer",
        "z": "139d1321e39413f1",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "a90e7f38bd90f9a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a54b25374eb90119",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f853144cede7ad81",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "capteurs",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "02211714844374ec",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard-ledapplication",
        "disabled": false,
        "hidden": false
    }
]