flows (2).json
[
    {
        "id": "5c261cf46031d43a",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7803b495cac538b4",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/bmp280/pression",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "c27ca5e32157ac42",
                "d9e528c68587e6b5"
            ]
        ]
    },
    {
        "id": "4138bb6e931e2d26",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/bmp280/hauteur",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "171210c165c41d77",
                "1bf670240cc3a11f"
            ]
        ]
    },
    {
        "id": "9a16133f0b5428eb",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "3acfcb80cb5ed46b",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "343865a1adf71e53",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Hauteur",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 600,
        "wires": []
    },
    {
        "id": "0b015794db1be7ea",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "28a6e06029862a76",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 420,
        "wires": []
    },
    {
        "id": "28ed095484af8698",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "fbf816376d04979c",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 14,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c92c0cd9799bc263",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 18,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "67a4f947603739b1",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 16,
        "width": 9,
        "height": 3,
        "label": "Hauteur ",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e4f6ca067e9f8605",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/bmp280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "73fdb794eafe1b24"
            ]
        ]
    },
    {
        "id": "f9fb4f375f6ec1a8",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 220,
        "wires": [
            [
                "30548e1f49d4fdd3"
            ]
        ]
    },
    {
        "id": "30548e1f49d4fdd3",
        "type": "mysql",
        "z": "5c261cf46031d43a",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "73fdb794eafe1b24",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "0b015794db1be7ea",
                "9a16133f0b5428eb",
                "fbf816376d04979c",
                "f9fb4f375f6ec1a8"
            ]
        ]
    },
    {
        "id": "c27ca5e32157ac42",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 500,
        "wires": [
            [
                "28a6e06029862a76",
                "3acfcb80cb5ed46b",
                "c92c0cd9799bc263"
            ]
        ]
    },
    {
        "id": "171210c165c41d77",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 600,
        "wires": [
            [
                "28ed095484af8698",
                "343865a1adf71e53",
                "67a4f947603739b1"
            ]
        ]
    },
    {
        "id": "40653e24c67e37f4",
        "type": "ui_slider",
        "z": "5c261cf46031d43a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3941f35136c8d5d8",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 860,
        "wires": [
            [
                "38f382428f673614",
                "3450daf5e2734f72"
            ]
        ],
        "inputLabels": [
            "6"
        ]
    },
    {
        "id": "38f382428f673614",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "set_maxTemp",
        "func": "global.set(\"temp_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3450daf5e2734f72",
        "type": "ui_text",
        "z": "5c261cf46031d43a",
        "group": "3941f35136c8d5d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de température :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1120,
        "y": 880,
        "wires": []
    },
    {
        "id": "7fdca8cde5c13e8f",
        "type": "ui_slider",
        "z": "5c261cf46031d43a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3941f35136c8d5d8",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1000",
        "max": "1200",
        "step": "20",
        "className": "",
        "x": 890,
        "y": 960,
        "wires": [
            [
                "925284a853bb203f",
                "61f81c50002c98f8"
            ]
        ],
        "inputLabels": [
            "15"
        ]
    },
    {
        "id": "925284a853bb203f",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "set_maxPression",
        "func": "global.set(\"pressure_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "61f81c50002c98f8",
        "type": "ui_text",
        "z": "5c261cf46031d43a",
        "group": "3941f35136c8d5d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de pression :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "897aec82b2269159",
        "type": "ui_slider",
        "z": "5c261cf46031d43a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3941f35136c8d5d8",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "82f6269e5697dd40",
                "d4547d7161af85d6"
            ]
        ],
        "inputLabels": [
            "16"
        ]
    },
    {
        "id": "82f6269e5697dd40",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "set_maxCO2",
        "func": "global.set(\"co2_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "d4547d7161af85d6",
        "type": "ui_text",
        "z": "5c261cf46031d43a",
        "group": "3941f35136c8d5d8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration C02 :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1140,
        "y": 1060,
        "wires": []
    },
    {
        "id": "56a0ba561b2eb264",
        "type": "inject",
        "z": "5c261cf46031d43a",
        "name": "15",
        "props": [
            {
                "p": "topic",
                "v": "15",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "7fdca8cde5c13e8f"
            ]
        ]
    },
    {
        "id": "168134e4260898af",
        "type": "inject",
        "z": "5c261cf46031d43a",
        "name": "6",
        "props": [
            {
                "p": "topic",
                "v": "6",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 860,
        "wires": [
            [
                "40653e24c67e37f4"
            ]
        ]
    },
    {
        "id": "67cc416b2cb0e52e",
        "type": "inject",
        "z": "5c261cf46031d43a",
        "name": "16",
        "props": [
            {
                "p": "topic",
                "v": "16",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "897aec82b2269159"
            ]
        ]
    },
    {
        "id": "364c59da0b2264d4",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1630,
        "y": 420,
        "wires": [
            [
                "ff0bfdd1d3eef443",
                "b9d26d641c78c2b8",
                "099684a88d74a889"
            ]
        ]
    },
    {
        "id": "24a437aa2d7ceb40",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "45d8ae00b8dfed43",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9d26d641c78c2b8",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "45d8ae00b8dfed43",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1860,
        "y": 420,
        "wires": []
    },
    {
        "id": "4017324481204e41",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 240,
        "wires": []
    },
    {
        "id": "ff0bfdd1d3eef443",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 380,
        "wires": []
    },
    {
        "id": "282916b22d6bc18f",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "45d8ae00b8dfed43",
        "order": 6,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "099684a88d74a889",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "45d8ae00b8dfed43",
        "order": 7,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1860,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "77ca554486a02942",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1630,
        "y": 280,
        "wires": [
            [
                "4017324481204e41",
                "24a437aa2d7ceb40",
                "282916b22d6bc18f"
            ]
        ]
    },
    {
        "id": "261f0b9f0b2c0792",
        "type": "ui_slider",
        "z": "5c261cf46031d43a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3941f35136c8d5d8",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 870,
        "y": 1160,
        "wires": [
            [
                "31eaf79b0fd9c009",
                "dbf90f069e8790a2"
            ]
        ],
        "inputLabels": [
            "20"
        ]
    },
    {
        "id": "31eaf79b0fd9c009",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "set_maxTVOC",
        "func": "global.set(\"tvoc_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "dbf90f069e8790a2",
        "type": "ui_text",
        "z": "5c261cf46031d43a",
        "group": "3941f35136c8d5d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration TVOC :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1170,
        "y": 1180,
        "wires": []
    },
    {
        "id": "311c565bb2ebf8d7",
        "type": "inject",
        "z": "5c261cf46031d43a",
        "name": "20",
        "props": [
            {
                "p": "topic",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "261f0b9f0b2c0792"
            ]
        ]
    },
    {
        "id": "8d11e8e1f2cf98ad",
        "type": "mqtt out",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8599a203a56b3e13",
        "x": 2090,
        "y": 660,
        "wires": []
    },
    {
        "id": "a3a4f1864d39c9be",
        "type": "mqtt out",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8599a203a56b3e13",
        "x": 2110,
        "y": 620,
        "wires": []
    },
    {
        "id": "f0c6ae4b58cf989e",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1630,
        "y": 640,
        "wires": [
            [
                "2ab3e0f64d15a58a"
            ]
        ]
    },
    {
        "id": "47090dd5a90a316e",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1630,
        "y": 520,
        "wires": [
            [
                "71a44c71c4412c33"
            ]
        ]
    },
    {
        "id": "71a44c71c4412c33",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "check CO2 value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 520,
        "wires": [
            [
                "e627b7c825a6c926",
                "806eaea8a2814541"
            ]
        ]
    },
    {
        "id": "2ab3e0f64d15a58a",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "check TVOC value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 640,
        "wires": [
            [
                "8d11e8e1f2cf98ad",
                "a3a4f1864d39c9be"
            ]
        ]
    },
    {
        "id": "806eaea8a2814541",
        "type": "mqtt out",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8599a203a56b3e13",
        "x": 2090,
        "y": 540,
        "wires": []
    },
    {
        "id": "e627b7c825a6c926",
        "type": "mqtt out",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8599a203a56b3e13",
        "x": 2110,
        "y": 500,
        "wires": []
    },
    {
        "id": "8289937388777ae8",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/css811/luminositePiece",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1660,
        "y": 860,
        "wires": [
            [
                "5c86938609220ffe",
                "ec99d112caa67f2f",
                "64d6b7a56f967946"
            ]
        ]
    },
    {
        "id": "ec99d112caa67f2f",
        "type": "ui_gauge",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "2491e5a2ad8bf005",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Luminosité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1890,
        "y": 860,
        "wires": []
    },
    {
        "id": "5c86938609220ffe",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 820,
        "wires": []
    },
    {
        "id": "64d6b7a56f967946",
        "type": "ui_chart",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "2491e5a2ad8bf005",
        "order": 8,
        "width": 6,
        "height": 3,
        "label": "Evolution",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1880,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "956a266da24db701",
        "type": "mysql",
        "z": "5c261cf46031d43a",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1060,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1bf670240cc3a11f",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "482db89786e7c15b"
            ]
        ]
    },
    {
        "id": "482db89786e7c15b",
        "type": "mysql",
        "z": "5c261cf46031d43a",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 1080,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d9e528c68587e6b5",
        "type": "function",
        "z": "5c261cf46031d43a",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.topic+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "956a266da24db701"
            ]
        ]
    },
    {
        "id": "354abe3b31edc154",
        "type": "mqtt in",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/OLED",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1630,
        "y": 1000,
        "wires": [
            [
                "13dd215efd3b90ef",
                "1fc544e5c6b72917"
            ]
        ]
    },
    {
        "id": "13dd215efd3b90ef",
        "type": "debug",
        "z": "5c261cf46031d43a",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 960,
        "wires": []
    },
    {
        "id": "1fc544e5c6b72917",
        "type": "ui_text",
        "z": "5c261cf46031d43a",
        "group": "a54b25374eb90119",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texte : ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1810,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ebe93d36b313765e",
        "type": "ui_button",
        "z": "5c261cf46031d43a",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Envoyer sur l'écran",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1850,
        "y": 1100,
        "wires": [
            [
                "6685745047ac677b"
            ]
        ]
    },
    {
        "id": "8e10edef1aa8df03",
        "type": "ui_text_input",
        "z": "5c261cf46031d43a",
        "name": "",
        "label": "Modifier le texte de l'écran",
        "tooltip": "",
        "group": "a54b25374eb90119",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1630,
        "y": 1100,
        "wires": [
            [
                "ebe93d36b313765e"
            ]
        ]
    },
    {
        "id": "6685745047ac677b",
        "type": "mqtt out",
        "z": "5c261cf46031d43a",
        "name": "",
        "topic": "esp32/OLED",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "29c1e4423c2790d1",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "04ceb3436fea3f28",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "b5ef55ad9579a4ff",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "e84cfcc2e2602c66",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 12,
        "width": 9,
        "height": 1
    },
    {
        "id": "8e92b54ba89a10ec",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "3941f35136c8d5d8",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfc4f8ec6f4e7a9d",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "3941f35136c8d5d8",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ccea96ca3547d537",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "3941f35136c8d5d8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b91812c3f93e6f7",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "3941f35136c8d5d8",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "1497eaaf5d7be538",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "45d8ae00b8dfed43",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "36321c7c22036ded",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "45d8ae00b8dfed43",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "63cd541331e28c32",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "45d8ae00b8dfed43",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "5bc675426f98ccbb",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9802d3e61d00abbb",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a53284b10a77ae3d",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc3130e851822ae4",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "bde6a294253dd982",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d82e07fcf70f415",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "2491e5a2ad8bf005",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f1ae853c8f73da6",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a255b641249b8c70",
        "type": "ui_spacer",
        "z": "5c261cf46031d43a",
        "name": "spacer",
        "group": "8e80377c4c6b0640",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a90e7f38bd90f9a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a54b25374eb90119",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f853144cede7ad81",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "capteurs",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "3941f35136c8d5d8",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "02211714844374ec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "45d8ae00b8dfed43",
        "type": "ui_group",
        "name": "Qualité air",
        "tab": "02211714844374ec",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8599a203a56b3e13",
        "type": "mqtt-broker",
        "name": "IF3B",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2491e5a2ad8bf005",
        "type": "ui_group",
        "name": "Luxmètre",
        "tab": "02211714844374ec",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e80377c4c6b0640",
        "type": "ui_group",
        "name": "OLED",
        "tab": "02211714844374ec",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02211714844374ec",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard-ledapplication",
        "disabled": false,
        "hidden": false
    }
]