flows (1).json
[
    {
        "id": "d5bc4a257ff5a7ed",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/bmp280/pression",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "91399351f1f3ae61"
            ]
        ]
    },
    {
        "id": "d3e69d6792f3fecc",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/bmp280/hauteur",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "926b598421784152"
            ]
        ]
    },
    {
        "id": "ed1a741998be10f7",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "2944fd287fc257fc",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "b25dc52a8e2b98af",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Hauteur",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "5f4601791439ec74",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "5e721cae5e1bb058",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "06e4f238993c7a09",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "cac0308150a72e54",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 10,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b4299c6eaba192b5",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 12,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e51c5607cfcc788a",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "a54b25374eb90119",
        "order": 11,
        "width": 9,
        "height": 3,
        "label": "Hauteur ",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a28ff5a60cbd85fd",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/bmp280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "5e6704ed0dfd74f7"
            ]
        ]
    },
    {
        "id": "bdf086d0ec7c189c",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(id,valeur)\" + \"VALUES ('\"+msg.topic\n\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "4c28ca7de6310447"
            ]
        ]
    },
    {
        "id": "4c28ca7de6310447",
        "type": "mysql",
        "z": "343152ec7687f42d",
        "mydb": "f853144cede7ad81",
        "name": "database",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6704ed0dfd74f7",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "5f4601791439ec74",
                "ed1a741998be10f7",
                "cac0308150a72e54"
            ]
        ]
    },
    {
        "id": "91399351f1f3ae61",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "5e721cae5e1bb058",
                "2944fd287fc257fc",
                "b4299c6eaba192b5"
            ]
        ]
    },
    {
        "id": "926b598421784152",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "check value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "06e4f238993c7a09",
                "b25dc52a8e2b98af",
                "e51c5607cfcc788a"
            ]
        ]
    },
    {
        "id": "ab0faa2f4a18ad42",
        "type": "ui_slider",
        "z": "343152ec7687f42d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9d9f76a8381ac3b1",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "6c8c49e3f3f6f5c9",
                "cd992d47b5022711"
            ]
        ],
        "inputLabels": [
            "6"
        ]
    },
    {
        "id": "6c8c49e3f3f6f5c9",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "set_maxTemp",
        "func": "global.set(\"temp_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cd992d47b5022711",
        "type": "ui_text",
        "z": "343152ec7687f42d",
        "group": "9d9f76a8381ac3b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de température :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 560,
        "y": 860,
        "wires": []
    },
    {
        "id": "2a4c5ca9c671f70b",
        "type": "ui_slider",
        "z": "343152ec7687f42d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9d9f76a8381ac3b1",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1000",
        "max": "1200",
        "step": "20",
        "className": "",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "807f903c69a1700a",
                "935127e47cafe502"
            ]
        ],
        "inputLabels": [
            "15"
        ]
    },
    {
        "id": "807f903c69a1700a",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "set_maxPression",
        "func": "global.set(\"pressure_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "935127e47cafe502",
        "type": "ui_text",
        "z": "343152ec7687f42d",
        "group": "9d9f76a8381ac3b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de pression :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "17cdc6a44ef5351d",
        "type": "ui_slider",
        "z": "343152ec7687f42d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9d9f76a8381ac3b1",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "778ae4456e37d27a",
                "585bd1fdb27c3839"
            ]
        ],
        "inputLabels": [
            "16"
        ]
    },
    {
        "id": "778ae4456e37d27a",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "set_maxCO2",
        "func": "global.set(\"co2_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "585bd1fdb27c3839",
        "type": "ui_text",
        "z": "343152ec7687f42d",
        "group": "9d9f76a8381ac3b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration C02 :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 580,
        "y": 1040,
        "wires": []
    },
    {
        "id": "07ef9293f5a1df54",
        "type": "inject",
        "z": "343152ec7687f42d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "15",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "2a4c5ca9c671f70b"
            ]
        ]
    },
    {
        "id": "5f18f8bb7097f898",
        "type": "inject",
        "z": "343152ec7687f42d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "6",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "ab0faa2f4a18ad42"
            ]
        ]
    },
    {
        "id": "f58757cfb15ef0ec",
        "type": "inject",
        "z": "343152ec7687f42d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "16",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "17cdc6a44ef5351d"
            ]
        ]
    },
    {
        "id": "c8993ae473590e48",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "c08450237be29a3b",
                "5dd5e0438e08a975",
                "d7ac339d18c21a70"
            ]
        ]
    },
    {
        "id": "f6d6869e2ff7af4e",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "c498b3979b336124",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 260,
        "wires": []
    },
    {
        "id": "5dd5e0438e08a975",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "c498b3979b336124",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "3662fca1f180aae7",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "c08450237be29a3b",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "dbc45b40d48ec55f",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "c498b3979b336124",
        "order": 10,
        "width": 9,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d7ac339d18c21a70",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "c498b3979b336124",
        "order": 12,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f2fe3e10c6dd7dae",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "3662fca1f180aae7",
                "f6d6869e2ff7af4e",
                "dbc45b40d48ec55f"
            ]
        ]
    },
    {
        "id": "e43619776f01054e",
        "type": "ui_slider",
        "z": "343152ec7687f42d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9d9f76a8381ac3b1",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 310,
        "y": 1140,
        "wires": [
            [
                "aa948e23576791b3",
                "f89a496011176bac"
            ]
        ],
        "inputLabels": [
            "20"
        ]
    },
    {
        "id": "aa948e23576791b3",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "set_maxTVOC",
        "func": "global.set(\"tvoc_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f89a496011176bac",
        "type": "ui_text",
        "z": "343152ec7687f42d",
        "group": "9d9f76a8381ac3b1",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seuil de concentration TVOC :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 1160,
        "wires": []
    },
    {
        "id": "bb26824ca25fd6be",
        "type": "inject",
        "z": "343152ec7687f42d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "20",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "e43619776f01054e"
            ]
        ]
    },
    {
        "id": "e8b5353c9821bfc7",
        "type": "mqtt out",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 1530,
        "y": 640,
        "wires": []
    },
    {
        "id": "13769d185f1356aa",
        "type": "mqtt out",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 1550,
        "y": 600,
        "wires": []
    },
    {
        "id": "2a1f83ab4a23fc96",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "e2ce6e92d20c2e46"
            ]
        ]
    },
    {
        "id": "0b0fa41a8cc2d27c",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "dad5e9cf686d8115"
            ]
        ]
    },
    {
        "id": "dad5e9cf686d8115",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "check CO2 value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "83cab568d22fcad8",
                "c6ed39944bc31ea3"
            ]
        ]
    },
    {
        "id": "e2ce6e92d20c2e46",
        "type": "function",
        "z": "343152ec7687f42d",
        "name": "check TVOC value",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "e8b5353c9821bfc7",
                "13769d185f1356aa"
            ]
        ]
    },
    {
        "id": "c6ed39944bc31ea3",
        "type": "mqtt out",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/bandeauled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 1530,
        "y": 520,
        "wires": []
    },
    {
        "id": "83cab568d22fcad8",
        "type": "mqtt out",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/affichageOLEDgaz",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dd44bbfa04210e9",
        "x": 1550,
        "y": 480,
        "wires": []
    },
    {
        "id": "3dcbb826e16c5bb3",
        "type": "mqtt in",
        "z": "343152ec7687f42d",
        "name": "",
        "topic": "esp32/css811/luminositePiece",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 840,
        "wires": [
            [
                "0f1b3107b2972e66",
                "2dea7d3ca100e646",
                "ce1cbc36f7b226a5"
            ]
        ]
    },
    {
        "id": "2dea7d3ca100e646",
        "type": "ui_gauge",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "5c38936522e629c2",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 840,
        "wires": []
    },
    {
        "id": "0f1b3107b2972e66",
        "type": "debug",
        "z": "343152ec7687f42d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 800,
        "wires": []
    },
    {
        "id": "ce1cbc36f7b226a5",
        "type": "ui_chart",
        "z": "343152ec7687f42d",
        "name": "",
        "group": "5c38936522e629c2",
        "order": 12,
        "width": 9,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a90e7f38bd90f9a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a54b25374eb90119",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f853144cede7ad81",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "capteurs",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9d9f76a8381ac3b1",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "02211714844374ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c498b3979b336124",
        "type": "ui_group",
        "name": "Qualité air",
        "tab": "02211714844374ec",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6dd44bbfa04210e9",
        "type": "mqtt-broker",
        "name": "IF3B",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5c38936522e629c2",
        "type": "ui_group",
        "name": "Luxmètre",
        "tab": "02211714844374ec",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02211714844374ec",
        "type": "ui_tab",
        "name": "Air",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]