flows (5).json
[
    {
        "id": "cddfab640aac8c6c",
        "type": "tab",
        "label": "Air",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e36ef04f4587d073",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bmp280/pression",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "22664f6059b9e14a",
                "39610b02c5b4edd1",
                "f01cef3af37edc15",
                "801a9dbd1c03db5f",
                "e6fd64f9d84033a0"
            ]
        ]
    },
    {
        "id": "5a66be1c6b9b232a",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bmp280/hauteur",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "cba431dbe9508f06",
                "c7f8df52175011ad",
                "588bc0e6c5ae59e7",
                "22721036f0e9f711"
            ]
        ]
    },
    {
        "id": "caa9d958de5d9761",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 4,
        "width": 3,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "801a9dbd1c03db5f",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 6,
        "width": 3,
        "height": 5,
        "gtype": "gage",
        "title": "Pression",
        "label": "HPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "588bc0e6c5ae59e7",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Hauteur",
        "label": "mètre",
        "format": "{{value}}",
        "min": 0,
        "max": "800",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "75c0f8caaec620d3",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "f01cef3af37edc15",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "c7f8df52175011ad",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "cda238f115502034",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "0fcf45e956569c9c",
        "order": 1,
        "width": 10,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "35",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#df6e0c",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e6fd64f9d84033a0",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "0fcf45e956569c9c",
        "order": 3,
        "width": 10,
        "height": 3,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#be2409",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "22721036f0e9f711",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "0fcf45e956569c9c",
        "order": 2,
        "width": 10,
        "height": 3,
        "label": "Hauteur ",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "800",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb2e06",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "11f994b49729577c",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bmp280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "d6cdb605952c8895",
                "75c0f8caaec620d3",
                "caa9d958de5d9761",
                "cda238f115502034",
                "ea61600c44736142"
            ]
        ]
    },
    {
        "id": "d6cdb605952c8895",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO temp(valeur)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            [
                "6e4bcff499665ee4"
            ]
        ]
    },
    {
        "id": "6e4bcff499665ee4",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "22664f6059b9e14a",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "check value",
        "func": "if(msg.payload > \"pressure_max\"){\nreturn \"P\";\n}\nelse{\n    return \"p\";\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 600,
        "wires": [
            [
                "adc57f22581cd945"
            ]
        ]
    },
    {
        "id": "fc47c2fd4210d5b8",
        "type": "ui_slider",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9a3b0e6ba9488a54",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "81c99ef140dd5029",
                "a4de827ef9a6d78d"
            ]
        ]
    },
    {
        "id": "81c99ef140dd5029",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "set_maxTemp",
        "func": "global.set(\"temp_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "a4de827ef9a6d78d",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "9a3b0e6ba9488a54",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Seuil de température :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 700,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cf9850762922bb2c",
        "type": "ui_slider",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9a3b0e6ba9488a54",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1000",
        "max": "1200",
        "step": "20",
        "className": "",
        "x": 450,
        "y": 1240,
        "wires": [
            [
                "1734e7f4a5fce0d8",
                "1971286e132196c2"
            ]
        ],
        "inputLabels": [
            "15"
        ]
    },
    {
        "id": "1734e7f4a5fce0d8",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "set_maxPression",
        "func": "global.set(\"pressure_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "1971286e132196c2",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "9a3b0e6ba9488a54",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Seuil de pression :",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9ab9ebcf3234ebe0",
        "type": "ui_slider",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9a3b0e6ba9488a54",
        "order": 6,
        "width": 7,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1500",
        "step": "10",
        "className": "",
        "x": 450,
        "y": 1320,
        "wires": [
            [
                "130b5e2f3b99a57a",
                "b78c64e0c09342d1"
            ]
        ],
        "inputLabels": [
            "16"
        ]
    },
    {
        "id": "130b5e2f3b99a57a",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "set_maxCO2",
        "func": "global.set(\"co2_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "b78c64e0c09342d1",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "9a3b0e6ba9488a54",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Seuil de concentration C02 :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 720,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4e6efa5b209c821f",
        "type": "inject",
        "z": "cddfab640aac8c6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1100",
        "payloadType": "num",
        "x": 290,
        "y": 1240,
        "wires": [
            [
                "cf9850762922bb2c"
            ]
        ]
    },
    {
        "id": "3d2fc384366d77da",
        "type": "inject",
        "z": "cddfab640aac8c6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 290,
        "y": 1140,
        "wires": [
            [
                "fc47c2fd4210d5b8"
            ]
        ]
    },
    {
        "id": "516efad0d489dbc3",
        "type": "inject",
        "z": "cddfab640aac8c6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 290,
        "y": 1320,
        "wires": [
            [
                "9ab9ebcf3234ebe0"
            ]
        ]
    },
    {
        "id": "f8ca0867f0262fc6",
        "type": "ui_slider",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9a3b0e6ba9488a54",
        "order": 9,
        "width": 7,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "500",
        "max": "1500",
        "step": "10",
        "className": "",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "8c2a14ea8b7e3bca",
                "d123c6b07f4b9227"
            ]
        ],
        "inputLabels": [
            "20"
        ]
    },
    {
        "id": "8c2a14ea8b7e3bca",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "set_maxTVOC",
        "func": "global.set(\"tvoc_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "d123c6b07f4b9227",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "9a3b0e6ba9488a54",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Seuil de concentration TVOC :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 1440,
        "wires": []
    },
    {
        "id": "725b41b09dadb96d",
        "type": "inject",
        "z": "cddfab640aac8c6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 290,
        "y": 1420,
        "wires": [
            [
                "f8ca0867f0262fc6"
            ]
        ]
    },
    {
        "id": "cba431dbe9508f06",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO hauteur(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 640,
        "wires": [
            [
                "c473632d33bcab06"
            ]
        ]
    },
    {
        "id": "c473632d33bcab06",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 900,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "39610b02c5b4edd1",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO pression(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "e1e9cae783a5f65d"
            ]
        ]
    },
    {
        "id": "dee2e938f6bac9bb",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/OLED",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2230,
        "y": 140,
        "wires": [
            [
                "39a1106b7f94a7f2",
                "3ddb6c3e66ecdc5a"
            ]
        ]
    },
    {
        "id": "39a1106b7f94a7f2",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2430,
        "y": 100,
        "wires": []
    },
    {
        "id": "3ddb6c3e66ecdc5a",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "b29a6a1171922554",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Texte : ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2410,
        "y": 160,
        "wires": []
    },
    {
        "id": "e736fba5222c3d8b",
        "type": "ui_button",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "b29a6a1171922554",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Envoyer sur l'écran",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2410,
        "y": 240,
        "wires": [
            [
                "7623df35ef5d3002"
            ]
        ]
    },
    {
        "id": "5e1d576817980517",
        "type": "ui_text_input",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "Modifier le texte de l'écran",
        "tooltip": "",
        "group": "b29a6a1171922554",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2190,
        "y": 240,
        "wires": [
            [
                "e736fba5222c3d8b"
            ]
        ]
    },
    {
        "id": "7623df35ef5d3002",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/OLED/affichage",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2640,
        "y": 240,
        "wires": []
    },
    {
        "id": "2c91960921cc0ac3",
        "type": "ui_switch",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e09701c01e0f4932",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ONtemp",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFFtemp",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1750,
        "y": 900,
        "wires": [
            [
                "e3ae44490c8b7433",
                "7fe84b4937155a0c"
            ]
        ]
    },
    {
        "id": "9e031a90643c105a",
        "type": "ui_switch",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e09701c01e0f4932",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ONlumiere",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFFlumiere",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1750,
        "y": 1000,
        "wires": [
            [
                "8c13eb877742ea62",
                "9422bf1475897a2e"
            ]
        ]
    },
    {
        "id": "2749ac57c5b845f7",
        "type": "ui_switch",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e09701c01e0f4932",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ONTVOC",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFFTVOC",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1750,
        "y": 1100,
        "wires": [
            [
                "fb0d8149f7cad663",
                "2f31dd185f3f34de"
            ]
        ]
    },
    {
        "id": "2a30047fda176bed",
        "type": "ui_switch",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e09701c01e0f4932",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ONCO2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFFCO2",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1750,
        "y": 1200,
        "wires": [
            [
                "bbad3ba121cfaf9f",
                "bb1c98b44bf54e83"
            ]
        ]
    },
    {
        "id": "fb0d8149f7cad663",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/Mode/gaz/TVOC",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2010,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bbad3ba121cfaf9f",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/Mode/gaz/CO2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2000,
        "y": 1220,
        "wires": []
    },
    {
        "id": "8c13eb877742ea62",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/Mode/lumiere",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2000,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e3ae44490c8b7433",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/Mode/temperature",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 2010,
        "y": 920,
        "wires": []
    },
    {
        "id": "1f1f457e1fe74b14",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/buttonResetOption",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1060,
        "wires": [
            [
                "9799ea5b0d136f08",
                "6a4ac251894feb4c",
                "ccd9c7359527e526",
                "72363ea5f49f7b4a"
            ]
        ]
    },
    {
        "id": "9799ea5b0d136f08",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "ResetOptionCO2",
        "func": "if (msg.payload == 1){\n    msg.payload = \"ONCO2\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1200,
        "wires": [
            [
                "2a30047fda176bed"
            ]
        ]
    },
    {
        "id": "7fe84b4937155a0c",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "e09701c01e0f4932",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure Température",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2000,
        "y": 880,
        "wires": []
    },
    {
        "id": "9422bf1475897a2e",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "e09701c01e0f4932",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure Lumière",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1980,
        "y": 980,
        "wires": []
    },
    {
        "id": "2f31dd185f3f34de",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "e09701c01e0f4932",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mesure concentration en TVOC",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2030,
        "y": 1080,
        "wires": []
    },
    {
        "id": "bb1c98b44bf54e83",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "e09701c01e0f4932",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Mesure concentration en CO2",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2030,
        "y": 1180,
        "wires": []
    },
    {
        "id": "adc57f22581cd945",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bandeauled/danger",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "6a4ac251894feb4c",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "ResetOptionTvoc",
        "func": "if (msg.payload == 1){\n    msg.payload = \"ONTVOC\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1100,
        "wires": [
            [
                "2749ac57c5b845f7"
            ]
        ]
    },
    {
        "id": "ccd9c7359527e526",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "ResetOptionPression",
        "func": "if (msg.payload == 1){\n    msg.payload = \"ONlumiere\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1000,
        "wires": [
            [
                "9e031a90643c105a"
            ]
        ]
    },
    {
        "id": "72363ea5f49f7b4a",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "ResetOptionTemperature",
        "func": "if (msg.payload == 1){\n    msg.payload = \"ONtemp\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 900,
        "wires": [
            [
                "2c91960921cc0ac3"
            ]
        ]
    },
    {
        "id": "ea61600c44736142",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "check value",
        "func": "if(msg.payload > \"temp_max\"){\nreturn \"K\";\n}\nelse{\n    return \"k\";\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "4341acd2dd4964d9"
            ]
        ]
    },
    {
        "id": "4341acd2dd4964d9",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bandeauled/danger",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c051dd781b8c2a4",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bmp280/Humidité",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 940,
        "wires": [
            [
                "bf7a266ec9218423",
                "2d79c565917cb5df",
                "d2473667d9f40d82",
                "2e37cfac59f8b526",
                "7edec5f02f3ca681"
            ]
        ]
    },
    {
        "id": "d2473667d9f40d82",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 5,
        "width": 4,
        "height": 5,
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "2d79c565917cb5df",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "2e37cfac59f8b526",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "0fcf45e956569c9c",
        "order": 4,
        "width": 10,
        "height": 3,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ac1f06",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "bf7a266ec9218423",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO humidite(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 840,
        "wires": [
            [
                "a9b359832014b84a"
            ]
        ]
    },
    {
        "id": "a9b359832014b84a",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 900,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7edec5f02f3ca681",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "check value",
        "func": "if(msg.payload > \"humi_max\"){\nreturn \"H\";\n}\nelse{\n    return\"h\";\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "eaac5b932d262ce1"
            ]
        ]
    },
    {
        "id": "eaac5b932d262ce1",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bandeauled/danger",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90e7f38bd90f9a9",
        "x": 950,
        "y": 1020,
        "wires": []
    },
    {
        "id": "edcb2b1b301ae13d",
        "type": "ui_slider",
        "z": "cddfab640aac8c6c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9a3b0e6ba9488a54",
        "order": 10,
        "width": 7,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "20",
        "max": "100",
        "step": "1",
        "className": "",
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "82ad40ad10cf11a5",
                "1cb2061f73523f8a"
            ]
        ],
        "inputLabels": [
            "20"
        ]
    },
    {
        "id": "82ad40ad10cf11a5",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "set_maxTVOC",
        "func": "global.set(\"humi_max\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1cb2061f73523f8a",
        "type": "ui_text",
        "z": "cddfab640aac8c6c",
        "group": "9a3b0e6ba9488a54",
        "order": 8,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Seuil d'humidité :",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1540,
        "wires": []
    },
    {
        "id": "dbf08c451ea7b413",
        "type": "inject",
        "z": "cddfab640aac8c6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 290,
        "y": 1520,
        "wires": [
            [
                "edcb2b1b301ae13d"
            ]
        ]
    },
    {
        "id": "88e3f928349c1563",
        "type": "ui_template",
        "z": "cddfab640aac8c6c",
        "group": "739f8d03e31125a0",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 7,
        "width": 10,
        "height": 1,
        "format": "<style>\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n    \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1320,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "93d4a871af7f8d0c",
        "type": "ui_button",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "0b2540a765a2b62a",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Reinitialiser les données",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2250,
        "y": 360,
        "wires": [
            [
                "8ba416afdbac7b3a"
            ]
        ]
    },
    {
        "id": "a9499a90fa1af17e",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/donnees/initialisation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fb076bb017af72f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2180,
        "y": 420,
        "wires": [
            [
                "7f090f374565f8d7"
            ]
        ]
    },
    {
        "id": "7f090f374565f8d7",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "Recuperation données BDD",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2500,
        "y": 420,
        "wires": [
            [
                "ab965039917b30c3"
            ]
        ]
    },
    {
        "id": "ab965039917b30c3",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 2740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8ba416afdbac7b3a",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "erase BDD",
        "func": "msg.topic = \"USE capteurs; DELETE FROM luminosite; DELETE FROM temp; DELETE FROM qualitetvoc; DELETE FROM qualiteco2; DELETE FROM hauteur; DELETE FROM pression;\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 360,
        "wires": [
            [
                "4406d5d82b6975b0"
            ]
        ]
    },
    {
        "id": "4406d5d82b6975b0",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 2620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2833aa0f75f0db39",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "34ee5ba21eb5fbb2",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 180,
        "wires": []
    },
    {
        "id": "3da8f645fb7af0ac",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 140,
        "wires": []
    },
    {
        "id": "2eed1c09ce95a8e5",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "34ee5ba21eb5fbb2",
        "order": 3,
        "width": 10,
        "height": 4,
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "57eff4b4779bb847",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/css811/qualiteCO2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "3da8f645fb7af0ac",
                "2833aa0f75f0db39",
                "2eed1c09ce95a8e5",
                "e1f9d098f747fe2e",
                "ca5370841bd42cce"
            ]
        ]
    },
    {
        "id": "e1f9d098f747fe2e",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "check CO2 value",
        "func": "if(msg.payload > \"co2_max\"){\n    return \"C\";\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 260,
        "wires": [
            [
                "87d4ab1fc478876f"
            ]
        ]
    },
    {
        "id": "87d4ab1fc478876f",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bandeauled/danger",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1fb076bb017af72f",
        "x": 1770,
        "y": 260,
        "wires": []
    },
    {
        "id": "5efab8b6605a425b",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 1680,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ca5370841bd42cce",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO qualiteco2(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 100,
        "wires": [
            [
                "5efab8b6605a425b"
            ]
        ]
    },
    {
        "id": "9389c44b720eb8cb",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/css811/qualiteTVOC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "a749c4b50e8fcdd9",
                "05eb806d205641fe",
                "51f653f6ce354354",
                "43c833242e7b6d3c",
                "2068ff9c4f748a0b"
            ]
        ]
    },
    {
        "id": "05eb806d205641fe",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "34ee5ba21eb5fbb2",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TVOC",
        "label": "mg/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 400,
        "wires": []
    },
    {
        "id": "a749c4b50e8fcdd9",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 360,
        "wires": []
    },
    {
        "id": "51f653f6ce354354",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "34ee5ba21eb5fbb2",
        "order": 4,
        "width": 10,
        "height": 4,
        "label": "TVOC",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8fe7a5bb404e6203",
        "type": "mqtt out",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/bandeauled/danger",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1fb076bb017af72f",
        "x": 1770,
        "y": 500,
        "wires": []
    },
    {
        "id": "43c833242e7b6d3c",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "check TVOC value",
        "func": "if(msg.payload > \"tvoc_max\"){\n    return \"T\";\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 500,
        "wires": [
            [
                "8fe7a5bb404e6203"
            ]
        ]
    },
    {
        "id": "7029675a6b6c0ac3",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 1720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2068ff9c4f748a0b",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO qualitetvoc(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "7029675a6b6c0ac3"
            ]
        ]
    },
    {
        "id": "c7ac23d723016860",
        "type": "mqtt in",
        "z": "cddfab640aac8c6c",
        "name": "",
        "topic": "esp32/css811/luminositePiece",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a90e7f38bd90f9a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 640,
        "wires": [
            [
                "1494c3f293a12da1",
                "9b1e94646852a3d6",
                "1a464669aa358f46",
                "2f566d730529f64d"
            ]
        ]
    },
    {
        "id": "9b1e94646852a3d6",
        "type": "ui_gauge",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Luminosité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "1494c3f293a12da1",
        "type": "debug",
        "z": "cddfab640aac8c6c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 600,
        "wires": []
    },
    {
        "id": "1a464669aa358f46",
        "type": "ui_chart",
        "z": "cddfab640aac8c6c",
        "name": "",
        "group": "739f8d03e31125a0",
        "order": 3,
        "width": 10,
        "height": 4,
        "label": "Luminosité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4d74445b3cebf89c",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 1640,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2f566d730529f64d",
        "type": "function",
        "z": "cddfab640aac8c6c",
        "name": "insert BDD",
        "func": "msg.topic = \"INSERT INTO luminosite(val)\" + \"VALUES ('\"+msg.payload+\"');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 560,
        "wires": [
            [
                "4d74445b3cebf89c"
            ]
        ]
    },
    {
        "id": "e1e9cae783a5f65d",
        "type": "mysql",
        "z": "cddfab640aac8c6c",
        "mydb": "94a57fa55b0198b6",
        "name": "database",
        "x": 900,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5a4b84d5269e8b2e",
        "type": "ui_template",
        "z": "cddfab640aac8c6c",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8da491cffebb8189",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "3747140ac4197dc8",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "1f0d680d5351c105",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "98b108334ed6b227",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a63e7504e09c842",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "cace76e6b4e41f56",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c834562d4ad0f57",
        "type": "ui_spacer",
        "z": "cddfab640aac8c6c",
        "name": "spacer",
        "group": "a54b25374eb90119",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a90e7f38bd90f9a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "739f8d03e31125a0",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fcf45e956569c9c",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "02211714844374ec",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94a57fa55b0198b6",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "capteurs",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9a3b0e6ba9488a54",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "b074d8cbf6a31780",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b29a6a1171922554",
        "type": "ui_group",
        "name": "OLED",
        "tab": "b074d8cbf6a31780",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e09701c01e0f4932",
        "type": "ui_group",
        "name": "Mode",
        "tab": "b074d8cbf6a31780",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b2540a765a2b62a",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "b074d8cbf6a31780",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fb076bb017af72f",
        "type": "mqtt-broker",
        "name": "IF3B",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34ee5ba21eb5fbb2",
        "type": "ui_group",
        "name": "Qualité de l'air",
        "tab": "02211714844374ec",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "02211714844374ec",
        "type": "ui_tab",
        "name": "Données ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b074d8cbf6a31780",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]